<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://afn-d-azurecostmonitor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/26aad3ed-7a5d-4d5d-9a9c-0c335094b031/resourceGroups/DLS-D-DataPlatform/providers/Microsoft.Web/sites/AFN-D-AzureCostmonitor</ResourceId>
    <UserName>$AFN-D-AzureCostmonitor</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://afn-d-azurecostmonitor.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>